@layer reset, base, tokens, recipes, utilities;
:root {
  --font-gt-walsheim: 'gt-walsheim', sans-serif;
  --font-gt-walsheim-bold: 'gt-walsheim-bold', sans-serif;
  --font-lyon-black: 'lyon-black', sans-serif;
  --font-lyon-bold: 'lyon-bold', sans-serif;
  --font-soleil-light: 'soleil-light', sans-serif;
  --font-soleil-regular: 'soleil-regular', sans-serif;
  --font-soleil-semiBold: 'soleil-semiBold', sans-serif;
  --font-soleil-bold: 'soleil-bold', sans-serif;
}
